/* This resets an standard styling - don't need to worry about this part */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* Sets the font for the website */
  font-family: 'Arimo', sans-serif;
}


/*  NavBar Styling */

.navbar {
  /* Sets color of NavBar */
  background-color: #021831;
  /* Sets color of text */
  color: white;
  /* Sets height or NavBar */
  height: 70px;
}

.website-name{
    /* As the name states, changes size of font */
    font-size: 30px;
}

/* This displays the contents in the navigation bar; We are using a FLEX display and can read more here: https://www.w3schools.com/cssref/css3_pr_flex.asp */
.navbar-container{
    display: flex;
    /* Seperates our two DIVS (website name and links) and puts space between, thus pushing them on opposite sides of the page */
    justify-content: space-between;
    /* Centers text vertically */
    align-items: center;
    height: 100%;
    /* Puts space around an element. Can use padding-top, padding-right, padding-bottom, and padding-left or JUST PADDING. */
    /* padding: TOP RIGHT BOTTOM LEFT -> padding: 10px 20px 10px 20px puts padding on respective positions*/
    padding: 0 40px 0 40px;
}

.navbar ul {
  /* Removes defauly styling of ul tag */
  list-style-type: none;
  display: flex;
}

.navbar a {
  color: white;
  padding: 10px;
  /* Creates spacing around an element's border -> NOTE padding creates spacing between element's border and content */
  margin: 0 5px 0 5px;
  /* For a tag, usually want to remove text-decoration and add our own styling */
  text-decoration: none;
  
}

/* A line appears when we hover over this a tag */
.navbar a:hover {
  border-bottom: 2px #fff solid;
}


.active-page{
  /* Adds a line at bottom of element; border-bottom: thickness color line-type */
    border-bottom: 2px #fff solid;
}


/* Main Body Styling */

/* Styling for the body tag */
body {
  color: #333;
  /* Adjust spacing between lines from text */
  line-height: 1.6;
}

.body-title{
  font-size: 100px;
}

.body-1 {
  height: 450px;
  padding: 0 40px 0 40px;
  background-color: rgb(255, 255, 255);
  color: #ffff;
}

.body-2{
  padding: 0 40px 0 40px;
  /* Sets height of this section */
  height: 800px; 
  background-color: #113f4d;
  color: #ffff;
  /* This add the slant; delete this if just want a rectangle -> Navigate here to create your own polygon: https://bennettfeely.com/clippy/ */
  clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%);
}

.body-title{
    color: black;
    /* Pushes the title to the left side fo page */
    text-align: left;
    /* Pushing Text Down */
    padding-top: 120px;
    font-size: 60px;
    /* Makes Text bolder */
    font-weight: 500;
}

.body-title-white{
  color: white;
  /* Pushes text to right */
  text-align: right;
  /* Pushes text down */
  padding-top: 80px;
  /* Pushes elements below down */
  padding-bottom: 20px;
  font-size: 60px;
  /* Bolds Text */
  font-weight: 500;
}

.body-text{
  color: black;
  font-size: 22px;
  margin-right: 6em;
  /* Creates space between this element and the one below it */
  padding-bottom: 20px;
}

button{
  /* Removes default styling */
  border: none;
  /* Sets demensions of button */
  height: 50px;
  width: 150px;
  background-color: #021831;
  color: white;
  /* Rounds the corner of the rectangle */
  border-radius: 7px;
  /* Changes cursor to pointer when you hover over element */
  cursor: pointer;
}

button a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}

/* Changes the color when we hover over element */
button:hover{
  background-color: #f12da6;
}

/* We are creating a GRID display here */
.photo-grid{
  /* Declare display type */
  display: grid;
  /* Tells us how many columns we want and the realative sizing of it */
  /* Here, we are saying that want 3 columns per row that are all the same size */
  grid-template-columns: 1fr 1fr 1fr;
  /* Puts a gap between between each item */
  grid-gap: 20px;
  
}

.grid-item{
  height: 100%;
  width: 100%;
  /* Allows photos fit proportionally within the container  */
  object-fit: cover;
}


/* Footer Styling */

.footer{
    color: white;
}

.footer-container{
    padding: 25px;
    background-color: #011222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}