@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Arimo', sans-serif;
  color: #333;
  line-height: 1.6;
}

.body-title{
  font-size: 100px;
}

/*  NavBar Styling */

.navbar {
  /* Sets color of NavBar */
  background-color: #021831;
  /* Sets color of text */
  color: white;
  /* Sets height or NavBar */
  height: 70px;
}

.website-name{
    font-size: 30px;
}

/* This di */
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 40px;
}

.navbar ul {
    list-style-type: none;
  display: flex;
}

.navbar a {
  color: white;
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;
  
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.active-page{
    border-bottom: 2px #fff solid;
}


/* Main Body Styling */

.body-1 {
  height: 450px;
  padding: 0 40px;
  background-color: rgb(255, 255, 255);
  color: #ffff;
  position: relative;
}

.body-2{
  padding: 0 40px;
  height: 800px; 
    background-color: #113f4d;
    color: #ffff;
    /* This add the slant; delete this if just want a rectangle */
    clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%);
}

.body-title{
    color: black;
    text-align: left;
    padding-top: 100px;
    font-size: 60px;
    font-weight: 500;
}

.body-title-white{
  color: white;
  text-align: right;
  padding-top: 80px;
  
  font-size: 60px;
  font-weight: 500;
}

.body-text{
  color: black;
  text-align: left; 
  font-size: 22px;
    margin-right: 6em;
    padding-bottom: 20px;
}

button{
  border: none;
  height: 50px;
  width: 150px;
  background-color: #021831;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

button a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}

button:hover{
  background-color: #6251fa;
}

.photo-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.grid-item{
  height: 300px;
  width: 400px;
  text-align: center;
  padding: 20px;
}


/* Footer Styling */

.footer{
    color: white;
}

.footer-container{
    padding: 25px;
    background-color: #011222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}